.thumb {
    margin-bottom: 30px;
    max-height: 200px;
    min-height: 200px;
}

.overflow-img {
    overflow-y: hidden;
    max-height: 120px;
}

form#search-box {
    display: inherit;
}

.facets{
    float: left;
    display: inline;
    width: 30%;
}

.thumb-container{
    float: right;
    display:inline;
    width: 70%;
}

@media only screen and (max-width: 768px){
    .thumb-container{
        width: 100%;
    }
}