{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3>About</h3>
                <p>Formerly known as Volunteer Voices, the Digital Library of Tennessee is a DPLA Service Hub governed by Tenn-Share with support from the University of Tennessee and Tennessee State Library and Archives. At this time, the Digital Library of Tennessee (DLTN) does not digitize or host digital objects for partner repositories, rather, the DLTN works with partner repositories to harvest metadata and thumbnails through the Open Archives Initiative-Protocol for Metadata Harvesting (OAI-PMH). The DLTN will not harvest scholarly communications, including journal articles, book chapters, and electronic theses and dissertations, finding aids, or newspapers for inclusion in the Digital Public Library of America (DPLA).</p>
                <p>Volunteer Voices was a cooperative digitization project and federated search engine that aimed to bring together the state of Tennessee's digital cultural heritage resources. At the September 24, 2014 meeting, the Tenn-Share Board of Directors approved the change in the name of the committee from Volunteer Voices to the Digital Library of Tennessee to better describe the efforts of the group.</p>
                <p>If you are interested in contributing your repository's digital cultural heritage resources to DPLA, please complete our New Partner Repository Ingest Form.</p>
            </div>
        </div>
    </div>
{% endblock %}