{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h3>Governance</h3>
                <p>The DLTN is governed by the Tenn-Share Digital Library of Tennessee Committee, comprised of the following members:</p>
                <ul>
                    <li>Jami Awalt, Tennessee State Library and Archives</li>
                    <li>Mark Baggett, University of Tennessee, Knoxville</li>
                    <li>Suzanne Bonefas, Rhodes College</li>
                    <li>Ken Middleton, Middle Tennessee State University</li>
                    <li>Holly Mercer, University of Tennessee, Knoxville</li>
                    <li>Jennifer Randles, Tennessee State Library and Archives</li>
                    <li>Carolyn Runyon, University of Tennessee at Chattanooga (Chair)</li>
                    <li>Jenifer Grady, Tenn-Share (Ex-officio)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}