{% extends "header.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="input-group">
                    <form action="" method="post" name="search">
                        <p>{{ form.searchtext(size=80) }}<br></p>
                        <p><input type="submit" value="Search"></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="container">
        <div class="row">
        {% if things %}
        {% for thing in things %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail thumb">
                <a href="{{ thing.link }}">
                    <img class="img-responsive overflow-img" src="{{ thing.image }}" alt="test"/>
                </a>
                <div class="caption">
                    <h6><a href="{{ thing.link }}">{{ thing.title }}</a> - Available from: {{ thing.dataProvider }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}